{% comment %} Width of results box {% endcomment %}
{% assign results_box_width = '310px' %}
{% comment %} Background color of results box {% endcomment %}
{% assign results_box_background_color = '#ffffff' %}
{% comment %} Border color of results box {% endcomment %}
{% assign results_box_border_color = '#d4d4d4' %}

<script>
  $(function () {
    var currentAjaxRequest = null;
    var searchForms = $('form[action="/search"]')
        .css("position", "relative")
        $.each(data.results, function(index, item) {
    var link = $('<a></a>').attr('href', item.url);
    link.append('<span class="thumbnail"><img src="' + item.thumbnail + '" /></span>');
    link.append('<span class="title">' + item.title + '</span>');
    link.append('<span class="sku">' + item.sku + '</span>'); // Add this line for SKU
    if (item.price > item.min_price) {
        link.append('<span class="price first">' + item.min_price + '</span>');
    } else {
        link.append('<span class="price last">' + item.min_price + '</span>');
    }
    link.wrap('<li><div class="item-search"></div></li>');
    resultsList.append(link.parent());
});
    $("body").bind("click", function () {
        $(".search-results").hide();
        jQuery(".searchbox").removeClass("s-loading");
    });
});
</script>