<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="f-box">
          <h2 class="f-box__title">Ulti-MATE Garage Cabinets</h2>
          <a class="f-box__link" href="#">Browse Here</a>
        </div>
      </div>
      <div class="col-6">
        <div class="f-box">
          <h2 class="f-box__title">Steel Gates</h2>
          <a class="f-box__link" href="#">Browse Here</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "First Section",
  "tag": "section",
  "class": "f_section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "First Banner"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Button Title"
    },
    {
      "type": "header",
      "content": "Second Banner"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title2",
      "label": "Button Title"
    }
  ],
  "presets": [
    {
      "name": "First Section",
      "settings": {
        "title": "First Section"
      }
    }
  ]
  
}
{% endschema %}

{% javascript %}
{% endjavascript %}