<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="f-box">
          <h2 class="f-box__title">Ulti-MATE Garage Cabinets</h2>
          <a class="f-box__link" href="#">Browse Here</a>
        </div>
      </div>
      <div class="col-6">
        <div class="f-box">
          <h2 class="f-box__title">Steel Gates</h2>
          <a class="f-box__link" href="#">Browse Here</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}

{% javascript %}
{% endjavascript %}