<section>
  <div class="container">
    <div class="f3-box__border">
      <div>
      <h2 class="f3-box__title">{{ section.settings.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="f4-box__tabs">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'slide' %}
                {% assign tabs_collection = block.settings.tabnew_collection %}
                <div class="item d-flex flex-column justify-content-center" {{ block.shopify_attributes }}>
                  {% assign owl_id = block.id %}
                   {% include 'carousel-product' %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
  "name": "Fourth Screen",
  "tag": "section",
  "class": "f-tabs_section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "number",
      "id": "desktop",
      "label": "How slide show on desktop",
      "default": 8
    },
    {
      "type": "number",
      "id": "tablet",
      "label": "How slide show on desktop",
      "default": 5
    },
    {
      "type": "number",
      "id": "mobile",
      "label": "How slide show on desktop",
      "default": 3
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
         {
            "type": "collection",
            "id": "tabnew_collection",
            "label": "Collection"
          }
       ]
     }
   ],
  "presets": [
    {
      "name": "Fourth Screen"
    }
  ]
  
}
{% endschema %}