<section></section>
{% schema %}
 {
  "name": "Second Section",
  "tag": "section",
  "class": "f-second_section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "First Banner"
    }
  ],
  "presets": [
    {
      "name": "Second Section"
    }
  ]
  
}
{% endschema %}
