<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ sections.settings.title }}
        <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_title }} {% render 'icon-arrow' %}</a>
      </div>
    </div>
  </div>
</section>
<style>
  .f-sixth_section{
    background-image:url("{{ section.settings.image | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
{% schema %}
 {
  "name": "Sixth Section",
  "tag": "section",
  "class": "f-sixth_section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Button Title"
    }
  ],
  "presets": [
    {
      "name": "Sixth Section"
    }
  ]
  
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}