<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-theme f3-box__tabs">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'slide' %}
                <div class="item" {{ block.shopify_attributes }}>
                  {{ block.settings.image | image_url: 'master' | image_tag }}
                  <p>{{ block.settings.title }}</p>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" >
  let desk = '{{section.settings.desktop}}';
  $('.f3-box__tabs').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:${"desk"}
        }
    }
  })
</script>
{% schema %}
  {
  "name": "Landing Tabs",
  "tag": "section",
  "class": "f-tabs_section",
  "settings": [
    {
      "type": "number",
      "id": "desktop",
      "label": "How slide show on desktop",
      "default": 8
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
       ]
     }
   ],
  "presets": [
    {
      "name": "Landing Tabs"
    }
  ]
  
}
{% endschema %}