body .breadcrumb-wrap {
    margin-bottom: 40px;
}
body .sidebar-custom.sidebar-tag .content .widget-content, 
body .sidebar-links .widget-content>ul {
    max-height: none;
}
body .sidebar-product .heading-block h3,
body .related-heading h2 span{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
body .related-heading h2{
  border-bottom: 3px solid #fc6a21;
}
body .related-heading {
  text-align: left;
}
body .product-label {
  background: #F6802F;
  border: none;
  color: #fff;
  box-shadow: none;
}
body .heading-block:after {    position: absolute;
  content: "";
  border-bottom: 3px solid #fc6a21;
}
body .collections-pages .page-header{
  display:none;
}
body .block_newsletter .input-group .input-group-btn input.btn{
  background-color:#F6802F;
  border: 1px solid #F6802F;
}
body .grid-item .product-inner .product-image .add-to-cartS button {
    background: #252525 !important;
    border: none;
}

body .related-heading.col-rel_heding{
  margin-bottom: 30px;
}
.toolbar .showing,
.template-collection select,
.collection-view label{
  font-family: "Roboto", sans-serif;
}
.col-item{
  border: 1px solid #EBEBEB;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  margin-right: 10px;
}
.col-item:hover{
  border: 1px solid #F6802F;
}
.col-item p{
  text-align: center;
}
.col-item:hover p{
  color: #000;
}
.cols_title{
  font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;

color: #000000;
}