body .breadcrumb-wrap {
    margin-bottom: 40px;
}
body .sidebar-custom.sidebar-tag .content .widget-content, 
body .sidebar-links .widget-content>ul {
    max-height: none;
}
body .sidebar-product .heading-block h3{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}