h1,h2,h3,h4,h5,h6,p,a,span,ul,li{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
body a:hover {
    color: unset;
    text-decoration: none;
}
.f_section{
  margin-top:30px;
}
.f-box__title{
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
.f-box__link{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 14px 30px;
  border: 1px solid #FFFFFF;
  max-width: 170px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.f-box__link:hover{
  color:#fff;
}
.f-box__content{
  padding:40px 0 35px 35px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.f-box__one .f-box__left{
  max-width:60%;
  padding:14px 9px 15px 0;
}
.f-box__one .f-box__left{
  max-width:60%;
  padding:11px 0 24px 0;
}
.f-box__one .f-box__left{
  max-width:50%;
}
.f-box__two .f-box__left,
.f-box__one .f-box__left{
  max-height:251px;
  object-fit: contain;
  margin-left: auto;
}
.f-box__three .f-box__title,
.f-box__four .f-box__title,
.f-box__five .f-box__title{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.f-box__three .f-box__link,
.f-box__four .f-box__link,
.f-box__five .f-box__link{
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #F6802F;
  padding: 0;
  max-width: unset;
  display: block;
}
.f-box__three svg,
.f-box__four svg,
.f-box__five svg{
  fill:#F6802F;
  top: 1px;
  position: relative;
}
