body{
  font-family: 'Roboto',sans-serif !important;
}
body.template-product .product-label-wr .product-label, 
body.template-product .product-label-wr .label-new,
body.template-product .product-label-wr .availability .product-inventory span{
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
body .product-shop .product-title h1{
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
body .product-shop .prices .compare-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #666666;
}
body .quick-view .product-shop .price, 
body .product-shop span.price.on-sale {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1E5586;
}
body #add-to-cart-form #product-add-to-cart{
  background: #F6802F;
}
body .shopify-cleanslate div[role="button"]{
  background: #1E5586 !important;
  border:none !important;
}
body .product_meta>p span, 
body .product_meta>p a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
body .product_meta>p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
body .product-tabs .nav-tabs li a{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  height: 35px;
}
body .nav-tabs>li>a.active, 
body .nav-tabs>li>a.active:focus, 
body .nav-tabs>li>a.active:hover, 
body .product-tabs .nav-tabs>li>a:hover {
    color: #000;
    border-bottom: 3px solid #F6802F;
    background: transparent;
}
body .related-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}
body .related-heading h2{
  border-bottom: 3px solid #F6802F;
    font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  height: 35px;
}
body .tab-content p{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}
body .tab-content p strong,
body .tab-content h5{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}
body .price-box .old-price{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: line-through;
  color: #959595;
}