/* #wapper-popup\,
#header-content,
#popup-newsletter .newsletter-content,
#popup-newsletter,
.header-wrapper{
    display: none !important;
} */
body{
  font-family: 'Roboto',sans-serif !important;
}
body.template-product .product-label-wr .product-label, 
body.template-product .product-label-wr .label-new,
body.template-product .product-label-wr .availability .product-inventory span{
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
body .product-shop .product-title h1{
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
body .product-shop .prices .compare-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #666666;
}
body .quick-view .product-shop .price, 
body .product-shop span.price.on-sale {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1E5586;
}
body #add-to-cart-form #product-add-to-cart{
  background: #1E5586;
  border-color:#1E5586;
}
#dropdown-cart .mini_cart_header .actions .btn{
  background: #1E5586 !important;
  border-color:#1E5586 !important;
}
body .shopify-cleanslate div[role="button"]{
  background: #1E5586 !important;
  border:none !important;
  margin-top: 20px;
}
body .product_meta>p span, 
body .product_meta>p a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
body .product_meta>p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
body .product-tabs .nav-tabs li a{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  height: 35px;
}
body .nav-tabs>li>a.active, 
body .nav-tabs>li>a.active:focus, 
body .nav-tabs>li>a.active:hover, 
body .product-tabs .nav-tabs>li>a:hover {
    color: #000;
    border-bottom: 3px solid #F6802F;
    background: transparent;
}
body .related-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}
body .related-heading h2{
  border-bottom: 3px solid #F6802F;
    font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  height: 35px;
}
body .tab-content p{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}
body .tab-content p strong,
body .tab-content h5{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}
body .price-box .old-price{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: line-through;
  color: #959595;
}
.product-custom .m-h3{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.product-custom h3 strong{
  font-weight: 600;
}
.product-custom__img1{
  height:58px;
  margin-bottom: 2px;
}
.product-custom__img2{
  height: 74px;
  margin-top: 30px;
}
.product-custom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.product-shop .buy-now .compare-detail{
  display: none !important;
}
.product-custom__guarante {
  border: 1px solid #F0F0F0;
  padding:20px 25px 11px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.product-custom__guarante h4{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: -32px;
  background: #fff;
  padding: 0 10px;
}
.product-custom__guarante h4 span{
  color:#8EBC4A;
}
.product-custom__deliver{
  margin-top: 12px;
}
.product-custom__deliver img{
  height: 28px;
  padding: 0 10px 0 8px;
}
.pr-custom__title,
.product-shop .product-sku{
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.pr-custom__nxt{
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
.product-custom__order{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F6802F;
}
.product-shop .prices {
  margin-bottom: 0;
}
.prices-wr {
    margin-top: 10px;
}
.product-question{
  background: #F5F5F5;
  border: 1px solid #F0F0F0;
  position: relative;
  margin-top: 30px;
  padding:9px 0 9px 0;
}
.product-question:after{
  content: '';
  width:2px;
  height:100%;
  background: #1E5586;
  position: absolute;
  left:-1px;
  top: 0;
}
.product-question img{
  width:47px;
  margin-left: 13px;
  margin-right: 10px;
}
.product-question span{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 8px;
}
.product-question p{
  margin-bottom: 0;
}
.product-question a{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #1E5586;
  margin-right: 8px;
}
.product-question p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.product-custom-dealer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.pr_c_m{
  align-items: center;
  display: flex;
}
.pr_c_m-item{
  width: 50%;
}
.product-custom-dealer img{
  width: 24px;
  margin-bottom: 10px;
}
.product-custom-dealer p{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}
.product-shop .product-sku span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.prodcuct-vendor span {
  color: #000;
  padding-left: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1E5586 !important;
}
.product-shop .swatch {
    margin-top: 20px;
}
.jdgm-star {
    font-family: 'JudgemeStar' !important;
}
.related-products .text-button-added,
.related-products .sold-out{
  display:none !important;
}
@media (max-width:1440px){
  .product-custom__add-to-cart{
    display: flex;
    flex-direction: column;
  }
  body #add-to-cart-form #quantity {
    width: 100%;
  }
  .template-product #add-to-cart-form #product-add-to-cart{
    width: 100%;
    margin-top: 10px;
  }
  .product-question p,
  .product-question span,
  .product-question a{
    text-align: center;
  }
}
@media (max-width:580px){
  .product-custom {
    align-items: flex-start;
  }
  .product-custom h3 {
    text-align: left;
  }
  .product-question {
    flex-direction: column;
  }
  .product-question a {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product-question img{
    margin-bottom: 10px;
  }
}