{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% include 'collection-template' %}
    <section class="recently-viewed-products">
      <div class="container">
        {% if section.settings.recently_viewed_products_title != '' %}
          <div class="related-heading">
            <h2><span>{{ section.settings.recently_viewed_products_title }}</span></h2>
          </div>
        {% endif %}
        <div class="products-grid row" id="recently-viewed-products-grid">
          {% include 'recently-viewed-product' %}
        </div>
      </div>
    </section>

